<h1>Frozen 2</h1>
<p>Elsa the Snow Queen and her sister Anna embark on an adventure far away from the kingdom of Arendelle.  They are joined by friends Kristoff, Olaf and Sven.</p>

<h2>Showtime 20:00 daily</h2>
