<h1>Jumanji The Next Level</h1>
<p>When Spencer goes back into the fantastical world of Jumanji, pals Martha, Fridge and Bethany re-enter the game to bring him home. But everything about Jumanji is about to change, as they soon discover more obstacles and more danger to overcome.</p>

<h2>Showtime 19:00 daily</h2>
