<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href='/style.css'>

    <title>Films Showing now!!!</title>
  </head>
  <body>
    <nav><ul>
      <li><a href="/index">Home</a></li>
      <li><a href="/about_us">About Us</a></li>
        <li><a href="/film">Films</a></li>
        </ul></nav>

        <h1>Listings</h1>
        <%= yield %>

  </body>
</html>
